.experience__tab{
    position: relative; left: 0px; width: 100%;     background: $bcgClr;

    .experience__inner{
        display: flex; gap: 32px; justify-content: space-between;
        @media (max-width: 800px) {
            gap: 8px;
        }

        .experience__left__line{
            width: 32px; display: flex; justify-content: center; flex-wrap: wrap;

            .top__icon{
                width: 32px; height: 32px; display: flex; justify-content: center; align-items: center;
                img{height: 16px;}
            }
            .line__top{
                width: 3px;
                background: linear-gradient(transparent, rgb(51, 179, 174) 30%); height: 128px;
            }
            .line__bottom{
                height: calc(100% - 40px); width: 3px; background: linear-gradient(rgb(51, 179, 174) 40%, transparent);
            }
        }
        .experience__left__line__second{
            .line__bottom{
                height: calc(100% - 168px);
            }
        }

        .experience__text{
            position: relative; width: calc(100% - 64px); padding-bottom: 64px;

            @media (max-width: 800px) {
                width: calc(100% - 32px);
            }
            h4{
                color: $white; margin-bottom: 16px; margin-top: 4px;
            }
            h1{
                color: $white;

                @media (max-width: 800px) {
                    font-size: 24px;
                }
            }
            .gloving__blue{
                color: #33B3AE;
                @media (max-width: 800px) {
                    font-size: 32px; margin-bottom: 8px;
                }
            }
        }
        .experience__text__padding{
            padding-top: 128px;
        }
    }
}
