.bc_h_edit{
    position: relative; left:0px; top:0px; width: 100%; min-height: 60px; padding:15px; margin-top:15px;
    h1, p{
        margin:0px;
    }
}
.bc_h_edit, .double-image-bck, .single_image-bck{
    .edit-icon-w{
        position: absolute; right:15px; top:15px; width: 70px; height: 24px; background: #CEE024; text-align: center; border-radius:3px; opacity: 0; z-index: 100;
        a{
            color:#333; font-size:12px; font-weight: bold;
        }
    }
}
.bc_h_edit:hover, .double-image-bck:hover, .single_image-bck:hover{
    background:rgba(0,0,0,0.05);
    .edit-icon-w{ opacity: 1; }
}

.double-image{
    position: relative; left:0px; width:100%; display: inline-flex; justify-content: space-between; flex-wrap: nowrap;
    .single-image{
        position:relative; left:0px; width:calc(50% - 15px);
        img{
            position: relative; left:0px; top:0px; width: 100%;
        }
    }
}

@media screen and (max-width: 800px){
    .double-image{
        gap: 20px; flex-wrap: wrap;
        .single-image{
            width: 100%;
        }
    }
}
