.page__wrapper{
    position: relative; width: 100%; padding: 32px 0px; display: flex; height: auto; background: $white;

    .page__inner_w{
        position:relative; display: flex; gap: 32px; justify-content: space-between; width: 1400px; left: calc(50% - 700px);
         border-radius: 3px; flex-wrap: wrap;

        @media (max-width: 1400px) {
            left: 50px; width: calc(100% - 100px);
        }
        @media (max-width: 1000px) {
            left: 24px; width: calc(100% - 48px);
        }

        @media (max-width: 800px){
            flex-wrap: wrap; height: auto;
        }

        .image__wrapper{
            position: relative; width: 100%; border: 1px solid rgba(0,0,0,0.3); border-radius: 4px;
            img{
                position: relative; width: 100%; border-radius: 4px; overflow: hidden;
            }
        }

        .page__content{
            position: relative; width: 100%; background: $white; font-family: 'MonaSansLight', sans-serif;
        }
    }
}
