.inner_wrapper{
    position: relative; width: $container-width; left: calc(50% - $container-width/2); min-height: 120px;

    @media (max-width: 1500px) {
        left: 100px; width: calc(100% - 200px);
    }
}
