.cover__image{
    position: relative; left: 0px; top: 0px; width: 100%; height: 260px;

    background: url('../../../../files/images/default/cover_photo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

    .shadow{
        position: relative; width: 100%; height: 100%; background: rgba(0,0,0,0.5);
        .inner_wrapper{
            position: relative; left: calc(50% - $container-half); width: $container-width; display: flex; align-items: center; height: 100%;
            h1{
                margin: 0px; font-family: 'lora', sans-serif; font-size: 40px; color: #ffffff;
            }
        }
    }
}
