/**
 *  Define colors
 */

$left-menu-w : 320px;
$primaryColor : #3D1F5F;
$secondaryColor : #F86624;

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; letter-spacing: 0.0px; padding: 0px; margin:0px;
    a{
        text-decoration: none; color: #333333;
    }

    input[readonly], textarea[readonly], select[disabled] {
        background-color: #FFFFFF !important;
    }
}

@import "pages/includes/colors";
@import "layout/menu";
@import "layout/content";
@import "layout/filters";
@import "../style/notify";
@import "pages/dashboard";
@import "pages/includes/right-menu";
/**
 *  Include core files
 */
@import "pages/includes/photo-upload";
@import "pages/blog/blog";
